@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');


$purple : #7336fe;
$oxygen-font : "Open Sans", monospace;

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #00695C;
}

.web-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;

	background-color: $purple;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	height: 10dvh;
	padding: 0;

	.header-items {
		font-family: $oxygen-font;
		height: 100%;
		margin: 0;
		font-size: 20px;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;

		&:hover {
			background-color: #FFA726;
		}
	}
	.header-log-btn {
		background-color: rgba($purple, 0.5);
		background-color: #FFA726;

		&:hover {
			background-color: #E65100;
		}

	}
}

.login-area {
	border-radius: 5% / 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: fixed;
	right: 150px;
	top: 130px;
	bottom: 50px;

	width: 80vw;

	// padding: 25px;
	background : transparent;
	background-color: rgba(white, 0.3);
	overflow: hidden;


	.design-wrapper {
		width: 40vw;
		height: 100%;
		// background-color: lightcoral;
		position: relative;
		padding: 0;

		.design-box {
			height: 120%;
			width: 120%;
			display: flex;
			justify-content: center;
			align-items: center;

			background-color: #FFA726;
			border-radius: 80%;
			box-shadow: 20px -20px 0 #E65100,
						inset -20px 20px 0 #F57C00;
			transform: rotate(45deg) translateX(-20vh) translateY(12vh);

			p {
				font-size: 100px;
				width: 5em;
				font-family: $oxygen-font;
				transform: rotate(-45deg) translateX(1em);
			}
		}

	}

	.login-wrapper {
		width: 40vw;
	
		box-sizing: border-box;
	
		display: flex;
		flex-direction: column;
		row-gap: 0em;
	
		.web-logo {
			text-align: center;
			font-family: $oxygen-font;
			font-size: 20px;
		}
	
		.login-form {
			width: 80%;
			display: flex;
			flex-direction: column;
			row-gap: 50px;
	
			position: relative;
			top: 20%;
			left: 5%;

			.link-area{
				padding: 0 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				// background-color: red;

				a{
					font-size: 18px;
					font-family: $oxygen-font;
					text-decoration: none;
					// color: white;
					font-weight: bold;
				}
			}
	
			.user-name, .user-pass {
				position: relative;
				input {
					width: 100%;
					padding: 15px;
					font-size: 20px;
					font-family: $oxygen-font;
					outline: none;
					border-radius: 4px;
					box-sizing: border-box;
					
					&:focus, &:valid{
						border: 2px solid $purple;
					}
					
					&:focus+label, &:user-valid+label{
						font-size: 18px;
						background-color: white;
						border: 2px solid $purple;
						transform: translateY(-25px);
					}
				}
				
				label {
					padding: 0 8px;
					font-size: 30px;
					font-family: $oxygen-font;
					position: absolute;
					left: 10px;
					top: 25%;
					pointer-events: none;
					transition: 0.4s, border 0.1s ease-in-out,
										background-color 0.3s;
				}
			}
	
		}
	
		.submit-btn {
			display: flex;
			justify-content: center;
			
			@mixin changeCol($colour){
				background-color: $colour;

				&:hover {background-color: rgba($colour, 0.8);}
				&:active {background-color: rgba($colour, 0.6);
							transform : translate((0, 10px)); 
							box-shadow: none;}
			}

			button {
				padding: 15px 60px;
				font-size: 20px;
				color: white;
				border: none;
				position: relative;
				cursor: pointer;
				border-radius: 18% / 50%;
				@include changeCol($purple);
				transition: 0.15s, transform 0.1s;
				box-shadow: 0 5px 10px rgba(black, 0.3);
			}
		}
	
	}
}
