@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #00695C;
}

.web-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  background-color: #7336fe;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 10dvh;
  padding: 0;
}
.web-header .header-items {
  font-family: "Open Sans", monospace;
  height: 100%;
  margin: 0;
  font-size: 20px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.web-header .header-items:hover {
  background-color: #FFA726;
}
.web-header .header-log-btn {
  background-color: rgba(115, 54, 254, 0.5);
  background-color: #FFA726;
}
.web-header .header-log-btn:hover {
  background-color: #E65100;
}

.login-area {
  border-radius: 5%/10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  right: 150px;
  top: 130px;
  bottom: 50px;
  width: 80vw;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.login-area .design-wrapper {
  width: 40vw;
  height: 100%;
  position: relative;
  padding: 0;
}
.login-area .design-wrapper .design-box {
  height: 120%;
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFA726;
  border-radius: 80%;
  box-shadow: 20px -20px 0 #E65100, inset -20px 20px 0 #F57C00;
  transform: rotate(45deg) translateX(-20vh) translateY(12vh);
}
.login-area .design-wrapper .design-box p {
  font-size: 100px;
  width: 5em;
  font-family: "Open Sans", monospace;
  transform: rotate(-45deg) translateX(1em);
}
.login-area .login-wrapper {
  width: 40vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 0em;
}
.login-area .login-wrapper .web-logo {
  text-align: center;
  font-family: "Open Sans", monospace;
  font-size: 20px;
}
.login-area .login-wrapper .login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  position: relative;
  top: 20%;
  left: 5%;
}
.login-area .login-wrapper .login-form .link-area {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-area .login-wrapper .login-form .link-area a {
  font-size: 18px;
  font-family: "Open Sans", monospace;
  text-decoration: none;
  font-weight: bold;
}
.login-area .login-wrapper .login-form .user-name, .login-area .login-wrapper .login-form .user-pass {
  position: relative;
}
.login-area .login-wrapper .login-form .user-name input, .login-area .login-wrapper .login-form .user-pass input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-family: "Open Sans", monospace;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-area .login-wrapper .login-form .user-name input:focus, .login-area .login-wrapper .login-form .user-name input:valid, .login-area .login-wrapper .login-form .user-pass input:focus, .login-area .login-wrapper .login-form .user-pass input:valid {
  border: 2px solid #7336fe;
}
.login-area .login-wrapper .login-form .user-name input:focus + label, .login-area .login-wrapper .login-form .user-name input:user-valid + label, .login-area .login-wrapper .login-form .user-pass input:focus + label, .login-area .login-wrapper .login-form .user-pass input:user-valid + label {
  font-size: 18px;
  background-color: white;
  border: 2px solid #7336fe;
  transform: translateY(-25px);
}
.login-area .login-wrapper .login-form .user-name label, .login-area .login-wrapper .login-form .user-pass label {
  padding: 0 8px;
  font-size: 30px;
  font-family: "Open Sans", monospace;
  position: absolute;
  left: 10px;
  top: 25%;
  pointer-events: none;
  transition: 0.4s, border 0.1s ease-in-out, background-color 0.3s;
}
.login-area .login-wrapper .submit-btn {
  display: flex;
  justify-content: center;
}
.login-area .login-wrapper .submit-btn button {
  padding: 15px 60px;
  font-size: 20px;
  color: white;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 18%/50%;
  background-color: #7336fe;
  transition: 0.15s, transform 0.1s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.login-area .login-wrapper .submit-btn button:hover {
  background-color: rgba(115, 54, 254, 0.8);
}
.login-area .login-wrapper .submit-btn button:active {
  background-color: rgba(115, 54, 254, 0.6);
  transform: translate(0, 10px);
  box-shadow: none;
}/*# sourceMappingURL=login.css.map */