@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$purple : #7336fe;
$oxygen-font : "Roboto", sans-serif;

* {
	margin: 0;
	padding: 0;
}

.login-wrapper {
	background-color: lightblue;

	position: fixed;
	right: 80px;
	top: 80px;
	bottom: 80px;

	width: 40vw;

	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	row-gap: 50px;

	.web-logo {
		text-align: center;
		font-family: $oxygen-font;
		font-size: 20px;
	}

	.login-form {
		width: 80%;
		display: flex;
		flex-direction: column;
		row-gap: 50px;
		// background-color: lightpink;

		position: relative;
		top: 20%;
		left: 5%;

		.user-name, .user-pass {
			position: relative;
			input {
				width: 100%;
				padding: 15px;
				font-size: 20px;
				font-family: $oxygen-font;
				outline: none;
				border-radius: 4px;
				
				&:focus, &:valid{
					border: 2px solid $purple;
				}
				
				&:focus+label, &:valid+label{
					background-color: white;
					border: 2px solid $purple;
					transform: translateY(-40px);
				}
			}
			
			label {
				padding: 0 8px;
				font-size: 30px;
				font-family: $oxygen-font;
				position: absolute;
				left: 10px;
				top: 25%;
				pointer-events: none;
				transition: 0.4s, border 0.1s ease-in-out,
									background-color 0.3s;
			}
		}

	}

	.submit-btn {
		display: flex;
		justify-content: center;

		button {
			padding: 15px 60px;
			font-size: 20px;
			color: white;
			border: none;
			position: relative;
			border-radius: 18% / 50%;
			background-color: $purple;
			box-shadow: 0 5px 10px rgba(black, 0.3);
		}
	}

}