* {
	margin: 0;
	padding: 0;
}

.login-wrapper {
	background-color: lightblue;

	height: 300px;
	width: 300px;

	position: relative;
	top: 150px;
	left: 50%;

	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	row-gap: 50px;

	.web-logo {
		text-align: center;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size: 20px;
	}

	.login-form {
		display: flex;
		flex-direction: column;
		row-gap: 50px;

		.user-name, .user-pass {
			position: relative;
			input {
				padding: 5px;
				font-size: 20px;
				outline: none;

				&:focus+label, &:valid+label{
					transform: translateY(-30px);
				}
			}
	
			label {
				font-size: 20px;
				position: absolute;
				left: 0;
				top: 5px;
				pointer-events: none;
				transition: 0.4s;
			}
		}

	}

}