/*****************************************************/
/* GENERAL REUSABLE COMPONENTS */
/*****************************************************/

* {
	scroll-behavior : smooth;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
} 

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #8a4c14;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.btn:link, 
.btn:visited {
    display: inline-block;
    background-color: #e67e22;
    color: #fff; 
    font-size: 2rem;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    border-radius: 1.5rem;
    font-weight: 600;
    transition: all 0.4s;
}
.btn--full:link, 
.btn--full:visited {
    background-color: #e67e22;
    color: #fff;
}
.btn--full:hover, 
.btn--full:active {
    background-color: #8a4c14;
}
.btn--outline:link, 
.btn--outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-small {
    margin-right: 1.6rem !important;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 9.6rem;
}

.grid {
    display: grid;
    column-gap: 6.4;
    row-gap: 9.6rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid center-vertically {
    align-items: center;
}

