{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/general.css' %}"/>
		<title>User Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						colors: {

						}
					}
				}
			}
		</script>
	</head>
	<body class="font-mono">

		<!-- <nav class="website-header absolute left-0 right-0 top-0 h-max bg-transparent text-3xl z-50 p-2">
			<ul class="flex justify-end text-center h-[60%] w-[100%] gap-x-5">
			<li class="header-item py-1 px-4 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="homepage.html">Home</a></li>
			<li class="header-item py-1 px-4 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="#">About</a></li>
			<li class="header-item py-1 px-4 bg-red-600 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="register.html">Register</a></li>
			</ul>
			</nav> -->

			<header class="header">
				<img class="logo" alt="abhyuday logo" src={% static "images/logos/main-logo.png" %}/>
				<nav class="main-nav">
					<ul class="main-nav-list">
						<li><a class="main-nav-link" href="homepage.html">Home</a></li>
						<li><a class="main-nav-link" href="#">About</a></li>
						<li><a class="main-nav-link" href={% url 'register-page' %}>Register</a></li>
						<li><a class="main-nav-link" href={% url 'login-page' %}>Login</a></li>
					</ul>
				</nav>
			</header>
			<main>
				<section class="section-hero">
					<div class="hero">
						<div class="hero-text-box">
							<h1 class="heading-primary">
								Unlocking Opportunities, Igniting Prosperity: Your Gateway to Financial Success!
							</h1>
							<p class="hero-description">
							This platform has been made keeping in mind the requirements and needs of both the sides, the entrepreneurs and the invertors. This platform connects them and provides invertors an options of business ideas to invest into and new business some potential investors.
							</p>
							<a href="#" class="btn btn--full margin-right-small">
								Start investing better
							</a>
							<a href="#learn-more" class="btn btn--outline">
								Learn more &darr;
							</a>
							<div class="investments">
								<div class="entreprenuer-imgs">
									<img src={% static "images/customers/customer-1.jpg" %}
										 alt="Customer photo" />
									<img src={% static "images/customers/customer-2.jpg" %}
										 alt="Customer photo" />
									<img src={% static "images/customers/customer-3.jpg" %}
										 alt="Customer photo" />
									<img src={% static "images/customers/customer-4.jpg" %}
										 alt="Customer photo" />
									<img src={% static "images/customers/customer-5.jpg" %}
										 alt="Customer photo" />
									<img src={% static "images/customers/customer-6.jpg" %}
										 alt="Customer photo" />
								</div>
								<p class="customer-text"><span>10,000+</span> start-ups invested so far!</p>
							</div>
						</div>
						<div class="hero-img-box">
							<img src={% static "images/hero.jpg" %} class="hero-img" alt="woman with surface pro 9"/>

						</div>
					</div>
				</section>


				<section class="section-how-it-works">
					<div class="container">
						<span class="subheading">
							How it works
						</span>
						<h2 class="heading-secondary"> 
							Your business module in 3 simple steps
						</h2>
					</div>
					<div class="container grid grid-2-cols grid center-vertically">
						<!-- Step 1-->
						<div class="step-text-box">
							<p class="step-number">01</p>
							<h3 class="heading-tertiary">
								Track your activities
							</h3>
							<p class="step-description">
							The start-up provides information on its activities based on special forms developed in accordance with the methodology of the expert assessment.
							</p>
						</div>
						<div class="step-img-box">
							<img src={% static "images/how it works/app-screen-1.png" %} class="step-img" 
																			alt="photo of how it works 1" />
						</div>
						<!-- Step 2-->
						<div class="step-img-box">
							<img src={% static "images/how it works/app-screen-2.png" %} class="step-img" 
																			alt="photo of how it works 2" />
						</div>
						<div class="step-text-box">
							<p class="step-number">02</p>
							<h3 class="heading-tertiary">
								Expert authentication
							</h3>
							<p class="step-description">
							Experts are real people who have confirmed their qualifications. They assess the analytical part of the project and the possibilities of commercialization of the start-up idea. The owners of the web-based platform along with investors could develop criteria-based requirements to experts in order to receive a confirmation of qualification, resume, portfolio, etc.
							</p>
						</div>
						<!--Step 3-->
						<div class="step-text-box">
							<p class="step-number">03</p>
							<h3 class="heading-tertiary">
								Its all your decision
							</h3>
							<p class="step-description">
							Based on the conclusion received from the expert community, investors make a decision on investment and determine the amount of the financing share by voting.
							</p>
						</div>
						<div id="learn-more" class="step-img-box">
							<img src={% static "images/how it works/app-screen-3.png" %} class="step-img" 
																			alt="photo of how it works 3" />
						</div>
					</div>
				</section>
			</main>
	</body>
</html>
