{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="general.css"/>
		<title>User Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						colors: {

						}
					}
				}
			}
		</script>
	</head>
	<body class="font-mono">

		<!-- <nav class="website-header absolute left-0 right-0 top-0 h-max bg-transparent text-3xl z-50 p-2">
			<ul class="flex justify-end text-center h-[60%] w-[100%] gap-x-5">
			<li class="header-item py-1 px-4 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="homepage.html">Home</a></li>
			<li class="header-item py-1 px-4 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="#">About</a></li>
			<li class="header-item py-1 px-4 bg-red-600 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="register.html">Register</a></li>
			</ul>
			</nav> -->

			<header class="header">
				<a href="#">
					<img class="logo" alt="abhyuday logo" src={% static "images/logos/main-logo.png" %}/>
				</a>
				<nav class="main-nav">
					<ul class="main-nav-list">
						<li><a class="main-nav-link" href={% url 'home-page' %}>Home</a></li>
						<li><a class="main-nav-link" href="#">How it works</a></li>
						<li><a class="main-nav-link" href="#">Testimonials</a></li>
						<li><a class="main-nav-link" href={% url 'register-page' %}>Register</a></li>
						<li><a class="main-nav-link" href={% url 'login-page' %}>Login</a></li>
					</ul>
				</nav>
			</header>
			<main>
				<section class="section-hero">
					<div class="hero">
						<div class="hero-text-box">
							<h1 class="heading-primary">
								Unlocking Opportunities, Igniting Prosperity: Your Gateway to Financial Success!
							</h1>
							<p class="hero-description">
							This platform has been made keeping in mind the requirements and needs of both the sides, the entrepreneurs and the invertors. This platform connects them and provides invertors an options of business ideas to invest into and new business some potential investors.
							</p>
							<a href="#" class="btn btn--full margin-right-small">
								Start investing better
							</a>
							<a href="#" class="btn btn--outline">
								Learn more &darr;
							</a>
							<div class="investments">
								<div class="entreprenuer-imgs">
									<img src="images/customers/customer-1.jpg"
										 alt="Customer photo" />
									<img src="images/customers/customer-2.jpg"
										 alt="Customer photo" />
									<img src="images/customers/customer-3.jpg"
										 alt="Customer photo" />
									<img src="images/customers/customer-4.jpg"
										 alt="Customer photo" />
									<img src="images/customers/customer-5.jpg"
										 alt="Customer photo" />
									<img src="images/customers/customer-6.jpg"
										 alt="Customer photo" />
								</div>
								<p class="customer-text"><span>10,000+</span> start-ups invested so far!</p>
							</div>
						</div>
						<div class="hero-img-box">
							<img src="images/hero.jpg" class="hero-img" alt="woman with surface pro 9"/>

						</div>
					</div>
				</section>

				<section class="section-featured">
					<div class="container">
						<h2 class="heading-featured-in">Assiciate your proile with</h2>
						<div class="logos">
							<img src="images/logos/github.png" alt="github logo"/>
							<img src="images/logos/intershala.jpg" alt="intershala logo"/>
							<img src="images/logos/upwork.png" alt="upwork logo"/>
							<img src="images/logos/linkedin.png" alt="linkedin logo"/>
							<img src="images/logos/flexjobs.png" alt="flexjobs logo"/>
							<img src="images/logos/mentorcloud.png" alt="mentorcloud logo"/>
						</div>
					</div>
				</section>

				<section class="section-how-it-works">
					<div class="container center-text">
						<span class="subheading">
							How it works
						</span>
						<h2 class="heading-secondary"> 
							Your business module in 3 simple steps
						</h2>
					</div>
					<div class="container grid grid-2-cols grid center-vertically">
						<!-- Step 1-->
						<div class="step-text-box">
							<p class="step-number">01</p>
							<h3 class="heading-tertiary">
								Track your activities
							</h3>
							<p class="step-description">
							The start-up provides information on its activities based on special forms developed in accordance with the methodology of the expert assessment.
							</p>
						</div>
						<div class="step-img-box">
							<img src="images/how it works/app-screen-1.png" class="step-img" 
																			alt="photo of how it works 1" />
						</div>
						<!-- Step 2-->
						<div class="step-img-box">
							<img src="images/how it works/app-screen-2.png" class="step-img" 
																			alt="photo of how it works 2" />
						</div>
						<div class="step-text-box">
							<p class="step-number">02</p>
							<h3 class="heading-tertiary">
								Expert authentication
							</h3>
							<p class="step-description">
							Experts are real people who have confirmed their qualifications. They assess the analytical part of the project and the possibilities of commercialization of the start-up idea. The owners of the web-based platform along with investors could develop criteria-based requirements to experts in order to receive a confirmation of qualification, resume, portfolio, etc.
							</p>
						</div>
						<!--Step 3-->
						<div class="step-text-box">
							<p class="step-number">03</p>
							<h3 class="heading-tertiary">
								Its all your decision
							</h3>
							<p class="step-description">
							Based on the conclusion received from the expert community, investors make a decision on investment and determine the amount of the financing share by voting.
							</p>
						</div>
						<div class="step-img-box">
							<img src="images/how it works/app-screen-3.png" class="step-img" 
																			alt="photo of how it works 3" />
						</div>
					</div>
				</section>

				<section class="section-profile">
					<div class="container center-text">
						<span class="subheading">
							Profiles
						</span>
						<h2 class="heading-secondary"> 
							Showcase your profiles
						</h2>
					</div>

					<div class="container grid grid-3-cols margin-bottom-medium">
						<div class="profile">
							<img src="images/profile/profile1.jpg" class="profile-img" alt="cat profile phoro 1"/>
							<div class="profile-content">
								<div class="profile-tags">
									<span class="tag">Entreprenuer</span>
								</div>
								<p class="profile-title">Samarth Srivastva</p>
								<ul class="profile-attributes">
									<li class="profile-attribute"><ion-icon class="profile-icon" name="newspaper-outline"></ion-icon><span>  Projects.....</span></li>
									<li class="profile-attribute"><ion-icon class="profile-icon" name="time-outline"></ion-icon><span>  Experience &reg; <strong>10</strong> years</span></li>
									<li class="profile-attribute"><ion-icon class="profile-icon" name="star-half-outline"></ion-icon> <span>  <strong>4.9</strong> rating</span></li>
								</ul>
							</div>
						</div>
						<div class="profile">
							<img src="images/profile/profile2.jpg" class="profile-img" alt="cat profile photo 2"/>
							<div class="profile-content">
								<div class="profile-tags">
									<span class="tag">Entreprenuer</span>
								</div>
								<p class="profile-title">Sanjeev Singh</p>
								<ul class="profile-attributes">
									<li class="profile-attribute"><ion-icon class="profile-icon" name="newspaper-outline"></ion-icon><span>  Projects.....</span></li>
									<li class="profile-attribute"><ion-icon class="profile-icon" name="time-outline"></ion-icon><span>  Experience &reg; <strong>8</strong> years</span></li>
									<li class="profile-attribute"><ion-icon class="profile-icon" name="star-half-outline"></ion-icon> <span>  <strong>4.7</strong> rating</span></li>
								</ul>
							</div>
						</div>
						<div class="list-of-profiles">
							<h3 class="heading-tertiary">Explore all the fields:</h3>
							<ul class="list">
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Software Engineer</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Management</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Pharmacy</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  franchise</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Units</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Urban chains</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Cosmetics</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Artificial Intelligence</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Plastic Industry</span></li>
								<li class="list-item"><ion-icon class="list-icon" name="checkmark-outline"></ion-icon><span>  Steel industry</span></li>
							</ul>
						</div>
					</div>

					<div class="container all-profiles">
						<a href="login.html" class="link"> See all Profiles &rarr;</a>
					</div>
				</section>

				<section class="section-testimonials grid">

					<div class="testimonials-container">
						<div class="container center-text">
							<span class="subheading" >
								Testimonials
							</span>
								<h2 class="heading-secondary"> 
									Its a mutual trust.
								</h2>
						</div>

						<div class="testimonials">
							<figure class="testimonial">
								<img class="testimonial-img" alt="customer photo" src="images/customers/customer-1.jpg"/>
								<blockquote class="testimonial-text">
									Thanks to this platform, I've gained invaluable insights into the world of business and investing. It's helped me make informed decisions and achieve my financial goals.
								</blockquote>
								<p class="testimonial-name">.&mdash; Peter Bash</p>
							</figure>

							<figure class="testimonial">
								<img class="testimonial-img" alt="customer photo" src="images/customers/customer-2.jpg"/>
								<blockquote class="testimonial-text">
									I've been a member of this website for years, and it's been instrumental in my success as an investor. The resources, tools, and community support are unmatched.
								</blockquote>
								<p class="testimonial-name">.&mdash; Harrier Page</p>
							</figure>

							<figure class="testimonial">
								<img class="testimonial-img" alt="customer photo" src="images/customers/customer-3.jpg"/>
								<blockquote class="testimonial-text">
									I highly recommend this website to anyone looking to grow their wealth and navigate the complexities of the business world. It's a game-changer!
								</blockquote>
								<p class="testimonial-name">.&mdash; Kesha</p>
							</figure>

							<figure class="testimonial">
								<img class="testimonial-img" alt="customer photo" src="images/customers/customer-4.jpg"/>
								<blockquote class="testimonial-text">
									Being part of this community has been a game-changer for me. The educational content, market analysis, and expert advice have empowered me to take control of my financial future.
								</blockquote>
								<p class="testimonial-name">.&mdash; Kchofcky</p>
							</figure>

							<figure class="testimonial">
								<img class="testimonial-img" alt="customer photo" src="images/customers/customer-5.jpg"/>
								<blockquote class="testimonial-text">
									This website has been my go-to resource for everything related to business and investing. From beginner guides to advanced strategies, it has everything I need to thrive in the market.
								</blockquote>
								<p class="testimonial-name">.&mdash; Ruepus kane</p>
							</figure>

							<figure class="testimonial">
								<img class="testimonial-img" alt="customer photo" src="images/customers/customer-6.jpg"/>
								<blockquote class="testimonial-text">
									I stumbled upon this website while searching for investment advice, and I'm so glad I did! The team here has curated top-notch content that has helped me make informed decisions and avoid common pitfalls.
								</blockquote>
								<p class="testimonial-name">.&mdash; Innosh Harrison</p>
							</figure>

						</div>
					</div>

				</section>
			</main>

			<footer class="footer">
				<div class="container grid grid-footer">
					<div class="logo-col">
						<a href="#" class="footer-logo">
							<img class="logo" alt="abhyuday logo" src="images/logos/main-logo.png"/>
						</a>
						<ul class="social-links">
							<li><a class="footer-link" href="#"><ion-icon class="social-icon" name="logo-instagram"></ion-icon></a></li>
							<li><a class="footer-link" href="#"></a><ion-icon class="social-icon" name="logo-facebook"></ion-icon></li>
							<li><a class="footer-link" href="#"><ion-icon class="social-icon" name="logo-twitter"></ion-icon></a></li>
						</ul>

						<p class="copyright">Coyright &copy; 2024 by Abhyuday. All rights reserved</p>
					</div>
					<div class="addess-col">
						<p class="footer-heading">Contact us</p>
						<address class="contacts">
							<p class="address">
							70, Ring Road, Second Floor, Lajpat Nagar III, New Delhi 110024, India
							</p>
							<p>
							<a class="footer-link" href="tel:13-456-7890">123-456-7890</a><br />
							<a class="footer-link" href="mailto:hello@abhyuday.com">hello@abhyuday.com</a>
							</p>
						</address>
					</div>
					<nav class="nav-col">
						<p class="footer-heading">Account</p>
						<ul class="footer-nav">
							<li><a class="footer-link" href="#">Create Account</a></li>
							<li><a class="footer-link" href="#">Sign in</a></li>
							<li><a class="footer-link" href="#">ios app</a></li>
							<li><a class="footer-link" href="#">Android app</a></li>
						</ul>
					</nav>

					<nav class="nav-col">
						<p class="footer-heading">Company</p>
						<ul class="footer-nav">
							<li><a class="footer-link" href="#">About Abhyuday</a></li>
							<li><a class="footer-link" href="#">For Business</a></li>
							<li><a class="footer-link" href="#">Investing partners</a></li>
							<li><a class="footer-link" href="#">Careers</a></li>
						</ul>
					</nav>

					<nav class="nav-col">
						<p class="footer-heading">Resources</p>
						<ul class="footer-nav">
							<li><a class="footer-link" href="#">Directory</a></li>
							<li><a class="footer-link" href="#">Help center</a></li>
							<li><a class="footer-link" href="#">Privacy and terms</a></li>
							<li><a class="footer-link" href="#">policies</a></li>
						</ul>
					</nav>

				</div>
			</footer>

			<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	</body>
</html>
