* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

body {
    font-family: monospace;
    line-height: 1;
    font-weight: 400;
    color: #555;
}


/***************************************************/
/*HEADER*/
/**************************************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem; /* we fix the height so as to make the navigation sticky i.e stays even when controlled */
    padding: 0 4.8rem;
}

.header-register {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem; /* we fix the height so as to make the navigation sticky i.e stays even when controlled */
    padding: 0 4.8rem;
    z-index: 5;
}

.logo {
    height: 2.6rem;
}

/***************************************************/
/*NAVIGATION*/
/***************************************************/

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    font-size: 1.8rem;
    transition: all 0.4s;
    background-color: #e67e22;
    border-radius: 9px;
    padding: 1.2rem 2.4rem;
}

.main-nav-link:hover,
.main-nav-link:active {
    background-color: #8a4c14;
}

/***************************************************/
/*HERO SECTION*/
/***************************************************/

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;

}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.investments {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.entreprenuer-imgs {
    display: flex;
}

.entreprenuer-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.entreprenuer-imgs img:last-child {
    margin: 0;
}

.customer-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.customer-text span {
    color: #8a4c14;
    font-weight: 700;
}

/***************************************************/
/*HOW IT WORKS SECTION*/
/***************************************************/

.section-how-it-works {
    padding: 9.6rem 0;
}

.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::after,
.step-img-box::before {
    content: "";
    display: block;
    /* height: 60%; */
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* otherwise the first edge A of the square would come at center and translate shifts it */

    
}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%; /* this creates an element of intrinsic height zero but with a padding of 60% thus making a square */
    background-color: #fdf2e9;
    z-index: -2; /*Becuase the element with less z-index would be behind and here we give it negative i.e. less z index to put it behind*/
}

.step-img-box::after {
    width: 50%;
    padding-bottom: 50%;
    background-color: #fae5d3;
    z-index: -1;
}

.step-img {
    width: 35%;
    align-items: center;
}

.step-number {
    font-size: 9.8rem;
    font-weight: 600;
    color: #ccc;
    margin-bottom: 1.2rem;
}

.step-description {
    line-height: 1.6;
    font-size: 1.8rem;
}

/*******************************************/
/*REGISTER*/
/******************************************/

.section-register {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}
