<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		tailwind.config = {
		theme: {
			extend: {
			colors: {

			}
			}
		}
		}
	</script>
</head>
<body class="font-mono">
	
	<nav class="website-header absolute left-0 right-0 top-0 h-max bg-transparent text-3xl z-50 p-2">
		<ul class="flex justify-end text-center h-[60%] w-[100%] gap-x-5">
			<li class="header-item py-1 px-4 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="#">Home</a></li>
			<li class="header-item py-1 px-4 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="#">About</a></li>
			<li class="header-item py-1 px-4 bg-red-600 text-white rounded-md hover:bg-orange-600 duration-200 select-none cursor-pointer"><a href="{% url 'login-page' %}">Login</a></li>
		</ul>
	</nav>

	<main class="main-content absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 overflow-hidden px-28 py-28">
		<section class="login-wrapper flex h-[100%] bg-white/20 backdrop-blur-xl rounded-2xl">
			<section class="design-area rounded-l-2xl rounded-r-[99em] h-[100%] w-[50%] bg-gradient-to-l from-purple-200 via-purple-400 to-purple-800">
				<!-- <div class="design-box">Welcoe </div> -->
			</section>
			<section class="form-area h-[100%] w-[60%] grid place-items-center gap-0">
				<form class="form-fields flex flex-col gap-4 w-[70%]" method='POST'>{% csrf_token %}
					<span class="user-name relative">
						<input type="text" name="username" class="p-2 text-lg w-[100%] peer/user-name outline-none outline-offset-0 focus-visible:outline-green-400" spellcheck="false" required><label for="user-name" class="absolute px-2 left-2 rounded-md top-1 text-2xl opacity-50 duration-200 peer-valid/user-name:opacity-100 peer-valid/user-name:translate-y-[-75%] peer-valid/user-name:bg-green-400 peer-valid/user-name:text-lg pointer-events-none peer-focus/user-name:opacity-100 peer-focus/user-name:translate-y-[-75%] peer-focus/user-name:bg-green-400 peer-focus/user-name:text-lg">Username</label>
					</span>
					<span class="user-email mt-2 relative">
						<input type="text" name="email" class="p-2 text-lg w-[100%] peer/user-email outline-none outline-offset-0 focus-visible:outline-green-400" spellcheck="false" required><label for="user-email" class="absolute px-2 left-2 rounded-md top-1 text-2xl opacity-50 duration-200 peer-valid/user-email:opacity-100 peer-valid/user-email:translate-y-[-75%] peer-valid/user-email:bg-green-400 peer-valid/user-email:text-lg pointer-events-none peer-focus/user-email:opacity-100 peer-focus/user-email:translate-y-[-75%] peer-focus/user-email:bg-green-400 peer-focus/user-email:text-lg">E-mail</label>
					</span>
					<span class="user-pass mt-2 relative">
						<input type="password" name="password1" class="p-2 text-lg w-[100%] peer/user-pass outline-none outline-offset-0 focus-visible:outline-green-400" spellcheck="false" required><label for="user-pass" class="absolute px-2 left-2 rounded-md top-1 text-2xl opacity-50 duration-200 peer-valid/user-pass:opacity-100 peer-valid/user-pass:translate-y-[-75%] peer-valid/user-pass:bg-green-400 peer-valid/user-pass:text-lg pointer-events-none peer-focus/user-pass:opacity-100 peer-focus/user-pass:translate-y-[-75%] peer-focus/user-pass:bg-green-400 peer-focus/user-pass:text-lg">Password</label>
					</span>
					<span class="user-pass-r mt-2 relative">
						<input type="password" name="password2" class="p-2 text-lg w-[100%] peer/user-pass-r outline-none outline-offset-0 focus-visible:outline-green-400" spellcheck="false" required><label for="user-pass-r" class="absolute px-2 left-2 rounded-md top-1 text-2xl opacity-50 duration-200 peer-valid/user-pass-r:opacity-100 peer-valid/user-pass-r:translate-y-[-75%] peer-valid/user-pass-r:bg-green-400 peer-valid/user-pass-r:text-lg pointer-events-none peer-focus/user-pass-r:opacity-100 peer-focus/user-pass-r:translate-y-[-75%] peer-focus/user-pass-r:bg-green-400 peer-focus/user-pass-r:text-lg">Repeat Password</label>
					</span>
					<span class="links-area flex items-center justify-end">
						<span class="new-account"><a href="#">Already have an account?</a></span>
					</span>
					<span class="submit-btn mt-4 text-center w-[100%]"><button class="w-[40%] bg-purple-600 px-8 py-3 text-xl rounded-3xl text-white hover:bg-purple-600/70 active:bg-purple-600/50">Submit</button></span>
				</form>

</body>
</html>